## Build a model to predict if person would survive or not in titanic dataset.

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('titanic1.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
source = df[['Pclass','Sex','Age','Fare']]
source

     Pclass     Sex   Age      Fare
0         3    male  34.5    7.8292
1         3  female  47.0    7.0000
2         2    male  62.0    9.6875
3         3    male  27.0    8.6625
4         3  female  22.0   12.2875
..      ...     ...   ...       ...
413       3    male   NaN    8.0500
414       1  female  39.0  108.9000
415       3    male  38.5    7.2500
416       3    male   NaN    8.0500
417       3    male   NaN   22.3583

[418 rows x 4 columns]

### map Sex column with male value as 1, female as 2

In [5]:
source.Sex = source.Sex.map({'male':1,'female':2})

In [6]:
source

     Pclass  Sex   Age      Fare
0         3    1  34.5    7.8292
1         3    2  47.0    7.0000
2         2    1  62.0    9.6875
3         3    1  27.0    8.6625
4         3    2  22.0   12.2875
..      ...  ...   ...       ...
413       3    1   NaN    8.0500
414       1    2  39.0  108.9000
415       3    1  38.5    7.2500
416       3    1   NaN    8.0500
417       3    1   NaN   22.3583

[418 rows x 4 columns]

### Fill Empty age field with mean

In [7]:
source.Age = source.Age.fillna(source.Age.mean())

In [8]:
source

     Pclass  Sex       Age      Fare
0         3    1  34.50000    7.8292
1         3    2  47.00000    7.0000
2         2    1  62.00000    9.6875
3         3    1  27.00000    8.6625
4         3    2  22.00000   12.2875
..      ...  ...       ...       ...
413       3    1  30.27259    8.0500
414       1    2  39.00000  108.9000
415       3    1  38.50000    7.2500
416       3    1  30.27259    8.0500
417       3    1  30.27259   22.3583

[418 rows x 4 columns]

In [9]:
target = df['Survived']
target

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

## Split the training dataset

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(source,target,train_size=0.8)

In [11]:
print(len(X_train))
print(len(y_train))
print(len(X_test))
print(len(y_test))

334
334
84
84

## Decision Tree algorithm

In [12]:
from sklearn import tree
DTC = tree.DecisionTreeClassifier()

## Fit the model

In [13]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
imputed_data = imputer.fit_transform(source)

DTC.fit(imputed_data, target)

DecisionTreeClassifier()

In [14]:
X_test

     Pclass  Sex       Age      Fare
76        3    1  30.27259    8.0500
374       1    2  54.00000   81.8583
316       1    1  57.00000  146.5208
152       3    1  60.50000       NaN
53        1    2  28.00000  263.0000
..      ...  ...       ...       ...
286       3    1  30.27259    7.2500
168       1    2  30.27259   27.7208
183       3    1  30.27259    7.7500
391       1    2  51.00000   39.4000
358       3    1  30.27259    7.7500

[84 rows x 4 columns]

## Predict the model for facebook, business , bachelor degree

In [15]:
DTC.predict([[1,1,60.000000,26.5500]])

array([0], dtype=int64)

# Predict the model

In [16]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
imputer.fit(X_train)

X_test_imputed = imputer.transform(X_test)

predictions = DTC.predict(X_test_imputed)

In [17]:
predictions

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0], dtype=int64)

## Accuracy of the model

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer

#input data as 'X' and target variable as 'y'
X = source  #input data
y = target  # target variable

# Step 1: Create an instance of SimpleImputer and fit it on your data
imputer = SimpleImputer(strategy='mean')
imputer.fit(X)

# Step 2: Apply imputation to the data
X_imputed = imputer.transform(X)

# Step 3: Create and train your DecisionTreeClassifier
DTC = DecisionTreeClassifier()
DTC.fit(X_imputed, y)

# Step 4: Calculate accuracy score using the imputed data
accuracy = DTC.score(X_imputed, y)

In [19]:
accuracy

1.0

****Score is 1 because the data is less and we have used the same data for training and testing****