In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv('houseprice.csv')
df

   area  bedrooms  old    price
0   400       3.0    5  1050000
1   600       4.0   15   950000
2  3200       NaN   15  6500000
3  3600       3.0   30  5900000
4  4000       5.0    8  7600000
5  4100       4.0    8  8100000

## Fill in the empty values with median

In [3]:
df[['bedrooms']] = df[['bedrooms']].fillna(df.bedrooms.median())

In [4]:
df

   area  bedrooms  old    price
0   400       3.0    5  1050000
1   600       4.0   15   950000
2  3200       4.0   15  6500000
3  3600       3.0   30  5900000
4  4000       5.0    8  7600000
5  4100       4.0    8  8100000

## Split training set

In [5]:
train = df.drop('price',axis='columns')
train

   area  bedrooms  old
0   400       3.0    5
1   600       4.0   15
2  3200       4.0   15
3  3600       3.0   30
4  4000       5.0    8
5  4100       4.0    8

In [6]:
test = df.price

## Linear Regression

In [7]:
reg = linear_model.LinearRegression()

reg.fit(train,test)

LinearRegression()

## Coefficient : m

In [8]:
reg.coef_

array([  1936.58596613, -51664.3574645 , -50451.57056132])

## intercept: b

In [9]:
reg.intercept_

763856.7626200952

In [10]:
reg.predict([[2500,3,10]])

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([4945812.89993255])

# y = mx1 + mx2 + mx3 + b
The conclusion is that the expression "y = mx1 + mx2 + mx3 + b" represents a linear equation with variables y, m, x1, x2, x3, and b. 

The equation describes a linear relationship between the variables, where m represents the slope and b represents the y-intercept. The equation can be used to calculate the value of y given specific values for m, x1, x2, x3, and b.

In [11]:
1936.58596613 * 2500 + -51664.3574645 * 3 -50451.57056132 * 10 + 763856.7626200952

4945812.899938395