In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('titanic1.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [4]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  34.5   7.8292
1         1       3  female  47.0   7.0000
2         0       2    male  62.0   9.6875
3         0       3    male  27.0   8.6625
4         1       3  female  22.0  12.2875

In [5]:
X = df.drop(['Survived'],axis='columns')
y = df.Survived

In [6]:
X

     Pclass     Sex   Age      Fare
0         3    male  34.5    7.8292
1         3  female  47.0    7.0000
2         2    male  62.0    9.6875
3         3    male  27.0    8.6625
4         3  female  22.0   12.2875
..      ...     ...   ...       ...
413       3    male   NaN    8.0500
414       1  female  39.0  108.9000
415       3    male  38.5    7.2500
416       3    male   NaN    8.0500
417       3    male   NaN   22.3583

[418 rows x 4 columns]

In [7]:
y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [8]:
dummy = pd.get_dummies(X.Sex)
dummy.head(3)

   female  male
0       0     1
1       1     0
2       0     1

In [9]:
X= pd.concat([X,dummy],axis='columns')
X

     Pclass     Sex   Age      Fare  female  male
0         3    male  34.5    7.8292       0     1
1         3  female  47.0    7.0000       1     0
2         2    male  62.0    9.6875       0     1
3         3    male  27.0    8.6625       0     1
4         3  female  22.0   12.2875       1     0
..      ...     ...   ...       ...     ...   ...
413       3    male   NaN    8.0500       0     1
414       1  female  39.0  108.9000       1     0
415       3    male  38.5    7.2500       0     1
416       3    male   NaN    8.0500       0     1
417       3    male   NaN   22.3583       0     1

[418 rows x 6 columns]

In [10]:
X.drop(['Sex','male'],axis='columns',inplace=True)
X

     Pclass   Age      Fare  female
0         3  34.5    7.8292       0
1         3  47.0    7.0000       1
2         2  62.0    9.6875       0
3         3  27.0    8.6625       0
4         3  22.0   12.2875       1
..      ...   ...       ...     ...
413       3   NaN    8.0500       0
414       1  39.0  108.9000       1
415       3  38.5    7.2500       0
416       3   NaN    8.0500       0
417       3   NaN   22.3583       0

[418 rows x 4 columns]

In [11]:
X.columns[X.isna().any()]

Index(['Age', 'Fare'], dtype='object')

In [12]:
X.Age[:10]

0    34.5
1    47.0
2    62.0
3    27.0
4    22.0
5    14.0
6    30.0
7    26.0
8    18.0
9    21.0
Name: Age, dtype: float64

In [13]:
X.Age = X.Age.fillna(X.Age.mean())
X.head(10)

   Pclass   Age     Fare  female
0       3  34.5   7.8292       0
1       3  47.0   7.0000       1
2       2  62.0   9.6875       0
3       3  27.0   8.6625       0
4       3  22.0  12.2875       1
5       3  14.0   9.2250       0
6       3  30.0   7.6292       1
7       2  26.0  29.0000       0
8       3  18.0   7.2292       1
9       3  21.0  24.1500       0

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [15]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [16]:
X_train = X_train.dropna()    #X_train have Nan Values 
y_train = y_train[X_train.index]

In [17]:
from sklearn.impute import SimpleImputer

# Create an imputer instance
imputer = SimpleImputer(strategy='mean')  # we choose strategy depending on our data

# Fit the imputer on X_train and transform X_train
X_train = imputer.fit_transform(X_train)

In [18]:
model.fit(X_train,y_train)

GaussianNB()

In [19]:
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.impute import SimpleImputer

# Create an imputer instance to handle missing values
imputer = SimpleImputer(strategy='mean') 

# Fit the imputer on X_train and transform X_train
X_train_imputed = imputer.fit_transform(X_train)

# Create and fit the HistGradientBoostingClassifier
model = HistGradientBoostingClassifier()
model.fit(X_train_imputed, y_train)

HistGradientBoostingClassifier()

In [20]:
model.score(X_test,y_test)

1.0

In [21]:
model.predict(X_test[0:10])

array([0, 0, 1, 1, 0, 0, 0, 0, 0, 0], dtype=int64)

In [22]:
model.predict(X_test)

array([0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [23]:
model.predict_proba(X_test[:10])

array([[9.99984435e-01, 1.55650531e-05],
       [9.99984435e-01, 1.55650531e-05],
       [2.79132693e-05, 9.99972087e-01],
       [2.79132693e-05, 9.99972087e-01],
       [9.99984435e-01, 1.55650531e-05],
       [9.99984435e-01, 1.55650531e-05],
       [9.99984435e-01, 1.55650531e-05],
       [9.99984435e-01, 1.55650531e-05],
       [9.99984435e-01, 1.55650531e-05],
       [9.99984435e-01, 1.55650531e-05]])

In [24]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([1., 1., 1., 1., 1.])

In [25]:
model.score(X_test,y_test)

1.0